html{
    background-color: gray;
}
body{
    background-color: white;
    width: 800px;
    height: 800px;
}
.row
{

    height:100px;
    width:800px;
}
.box{
    width: 100px ;
    height: 100px;
    float: left;
}
.black
{
   background-color:black;
}